* {
    font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
}

body {
    background-color: #22252b;
}

body {
    padding-top: 72px;
}

@media screen and (max-width: 768px) {
    body {
        padding-top: 66px;
    }
}

.is-invalid {
    color: #dc3545;
}

input {
    background-color: #22252b !important;
    color: #bce6f3 !important;
    border: solid 1px #343d49 !important;
    border-radius: 0 !important;
}

input[type=text], input[type=password] {
    height: 38px;
}

select {
    background-color: #22252b !important;
    color: #bce6f3 !important;
    border: solid 1px #343d49 !important;
    border-radius: 0 !important;
    height: 38px;
    width: -webkit-fill-available;
    padding-left: 9px;
}

.modal-header, .modal-footer {
    border: 0;
}

.modal-title, label {
    color: #929d9d;
}

.modal-content {
    background-color: #2b333b;
}

.modal-content p {
    color: #929d9d
}

.modal-dialog .btn {
    background-color: #3b4654;
    border-radius: 0;
}

.modal-dialog .btn-success {
    background-color: #60ab47;
    fill: white;
}

.modal-dialog .btn-danger {
    background-color: #dc3545;
    fill: white;
}

.certificate-container {
    padding: 0.5em;
}

.title {
    font-size: 0.7em;
    text-transform: uppercase;
    color: rgb(152, 167, 183);
}

.value {
    font-size: 1em;
    color: rgb(240, 244, 234);
    *, ::before, ::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

.close:hover {
    color: #d43232;
}

.close {
    color: #d43257;
    text-shadow: none;
}

.input-group-addon {
    line-height: 38px;
    color: #929d9d;
    margin: 0 10px;
}

.navbar-toggler-icon { 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(240, 244, 234, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.nav-link {
    color: #f0f4ea !important;
    font-size: 1.25rem;
}

.nav-link svg {
    fill: #f0f4ea;
}

.navbar-brand {
    font-size: 1rem;
    color: #98a7b7 !important;
}

.header {
    background-color: #2b333b;
    border-radius: 8px 8px 0 0;
    border-bottom: 2px solid #22252b;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header .description {
    color: #d43257;
    font-size: 1.5em;
    padding: 15px 0 0 15px;
    overflow-wrap: anywhere;
}

.header .subject {
    padding: 0 0 0 15px;
}

.header .thumbprint {
    color: #63706e;
    font-size: 1em;
    padding: 0 0 0 15px;
}

.info-list {
    background-color: #252b32;
    border-radius: 0 0 8px 8px;
}

.info-box {
    display: inline-block;
    padding: 15px;
}

.info-box .title {
    display: flex;
    align-items: center;
}

.text {
    font-size: 0.7em;
    text-transform: uppercase;
    color: #98a7b7;
    margin: 5px;
}

.icon svg {
    fill: #98a7b7;
}

.info-box .value {
    font-size: 1em;
    color: #f0f4ea;
}

.footer {
    background-color: #252b32;
    border-radius: 0 0 8px 8px;
}

.footer .button-list {
    padding: 5px;
    display: flex;
    justify-content: flex-end;
}

.footer .button-list button {
    margin: 5px;
    height: 35px;
    width: 35px;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(59, 70, 84);
}

.footer .button-list button:hover {
    background-color: rgb(211, 64, 95);
}